:root {
  --success-btn: limegreen;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: monospace;
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
}

.page-wrapper {
  padding: 1.5rem 0;
}

.title {
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.btn-success {
  background-color: var(--success-btn) !important;
  border-color: transparent !important;
}
